<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Crowd Counter Web</title>
  </head>
  <body>
    <h1>Crowd Counting</h1>
	<p id="date"></p>
	<div id="columns"></div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
  var crowd = [];
  var count = 0;
  setInterval(display,3000)
  setInterval(myTimer,1000)
  setInterval(function() {
    $.ajax({
      type: "GET",
      dataType: "JSON",
      url: "/count_path"
    })
      .done(function(get_count) {
        count = get_count;
        });
  }, 1000);
function display() {
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(function() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Number of people');
	data.addColumn('number', 'Crowd');
	for(i in count)
    {
	  data.addRows([[String(i),parseInt(count[i])]]);
	}
	var options = {'title':'Crowd count of cameras','width':screen.width, 'height':550, vAxis: {title: 'Number of people'}};
	var chart = new google.visualization.ColumnChart(document.getElementById('columns'));
	chart.draw(data, options);
})
}
display();
function myTimer() {
  var d = new Date();
  document.getElementById("date").innerHTML = d;
}
	</script>
  </body>
</html>
