<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crowd Counter Web</title>
  </head>
  <body>
    <h1>Crowd Counting</h1>
  <p id="chart"></p>
	<p id="date"></p>
	<div id="columns"></div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
  var crowd = [];
  var count = 0;
  setInterval(display,1000)
  setInterval(function() {
    $.ajax({
      type: "GET",
      dataType: "JSON",
      url: "/count_path"
    })
      .done(function(get_count) {
        count = get_count;
        });
  }, 1000);


function display() {
  google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(function() {
    var data = new google.visualization.DataTable();
    for(i in count)
    {
      data.addColumn(i,count[i]);
    }
    var options = {'title':'Crowd count of cameras','width':700, 'height':550, vAxis: {title: 'Number of people'}};
    var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
    chart.draw(data, options);
  }
}
	</script>
  </body>
</html>
